#contact_modal {
    display: none;
}


/*stylisation du label de select tri*/
#label-tri{
    font-family: "DM Sans", sans-serif;
    font-weight: 600;
    padding-right: 10px;
}

.filter {
    padding-top: 20px;
    font-size: 1.2em;
}

/*stylisation de l'option selectionnée*/
.filter select{
    text-indent: 10px;
    padding: 10px 10px;
    font-weight: 600;
    background-color: #901C1C;
    color: white;
    border-bottom: 3px solid white;
    border-radius: 7px;
    position: relative;
    font-size: 1em;
}

/*stylisation des autres options du select*/
.option-tri{
    font-weight: 600;
    font-size: 1em;
}

.realisations {
    padding-top: 20px;
}


.carousel-container {
    display: none;
    width: 100%;
    height: 100%;
    background-color: transparent;
    position: fixed;
    top: 0px;
    left: 0px;
}


.carousel {
    background-color: white;
    display: flex;
    position: relative;
}

#crossInCarousel,
.crochets {
    color: #901C1C;
    font-size: 2em;
    cursor: pointer;
    padding: 0.5em;
}

.left-part-header,
.right-part-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#crossInCarousel {
    position: absolute;
    top: 0px;
}

.central-part-header {
    display: flex;
    flex-direction: column;
}

.carousel-media-container {
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
}

.imageInCarousel,
.videoInCarousel {
    width: 90vw;
    height: 90vh;
    padding: 0.5em;
    object-fit: cover;
}

.titleInCarousel {
    color: #901C1C;

}

.bottom-line {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    color: #901C1C;
    padding-top: 0px;
}

.leftContainer{
    width: 100%;
}

.leftContainer p {
    font-size: 2em;
    margin-block-start: 0px;
    margin-block-end: 0em;
}

.middle-container-mediaCard{
    width: 20%;
    padding-top: 3px;
    display: flex;
    justify-content: end;
    align-items: baseline;
}

.heartNextToTitle{
    padding-left: 5px;
    font-size: 1.3em;
}

.photograph-header {
    background-color: #FAFAFA;
    padding: 40px 50px;
    margin-top: 40px;
}

.nameOfPhotographer {
    color: #D3573C;
    font-size: 4.5em;
    font-weight: 200;
    margin-block-end: 0.2em;
    margin-block-start: 0em;
}

.cityOfPhotographer,
.countryOfPhotographer {
    color: #901C1C;
    font-size: 1.5em;
}

.pTagline {
    color: #525252;
    font-size: 1.1em;
    margin-block-end: 0em;
}



.contact_button,
.bouton-envoyer {
    font-size: 23px;
    font-weight: 600;
    color: white;
    padding: 11px;
    width: 200px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.contact_button:focus,
.bouton-envoyer:focus,
.contact_button:hover,
.bouton-envoyer:hover {
    background-color: #D3573C;
    color: white;
}

#contact_modal {
    top: 20px;
}

.hidden {
    height: 1px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: -10000px;
    width: 1px;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 35px;
    width: 50%;
    margin: auto;
}

.modal-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 50px;
}


.modal header img {
    cursor: pointer;
}

.h1InModalWindow,
.nameInModalWindow {
    font-size: 50px;
    font-weight: 600;
    text-align: left;
    margin: 0px;
    margin-block-end: 0em;
    margin-block-start: 0em;
    color: #312E2E;

}

.crossInModalWindow {
    margin-top: 20px;
    cursor: pointer;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}

form textarea {
    border-radius: 5px;
    height: 150px;
}

.message {
    width: 100%;
    resize: none;
}

#bottomBarContainer {
    width: 20%;
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    background-color: #DB8876;
    padding: 20px 30px;
    position: fixed;
    bottom: 0px;
    right: 20px;
    font-size: 1.5em;
}

#bottom-bar {
    width: 100%;

}

@media screen and (max-width: 1280px) {
    #bottomBarContainer {
        width: 35%;
    }

    #contact_modal {
        top: 10px;
    }

    .modal-header h1,
    .modal-header h2 {
        font-size: 40px;
    }

    form textarea {
        height: 80px;
    }
}