/* CLASSE HIDDEN */
.hidden {
    height: 1px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: -10000px;
    width: 1px;
}


body {
    font-family: "DM Sans", sans-serif;
    margin: 0 100px;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

/*TITRES H1*/
h1 {
    color: #901C1C;
}

/*LOGOS EN HAUT D EPAGE*/
.logo {
    height: 50px;
    margin-top: 40px;
}

/* BOUTONS ENVOYER ET CONTACTEZ MOI*/
.contact_button,
.bouton-envoyer {
    font-size: 23px;
    font-weight: 600;
    color: white;
    padding: 11px;
    width: 200px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

/* BOUTONS ENVOYER ET CONTACTEZ MOI LORS DU SURVOL ET FOCUS*/ 
.contact_button:focus,
.bouton-envoyer:focus,
.contact_button:hover,
.bouton-envoyer:hover {
    background-color: #D3573C;
    color: white;
}


/*PAGE INDEX : SECTION AVEC TOUTES LES CARDS DE CHAQUE PHOTOGRAPHE*/
.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 100px;
    padding-bottom: 100px;
}

/*PAGE INDEX : CHAQUE CARD DE PHOTOGRAPHE*/
.photographer_section article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/*PAGE INDEX : TOUS LES TITRES H2 DES CARDS*/
.photographer_section article h2 {
    color: #D3573C;
    font-size: 36px;
    font-weight: 200;
    margin-block-end: 0.1em;
}

/* PAGE INDEX : TOUS LES P DES CARDS*/
.photographer_section p {
    margin-block-start: 0.2em;
    margin-block-end: 0.2em;
}

/* PAGE INDEX - SUR CHAQUE CARD : VILLE ET PAYS*/
.containerCityAndCountry {
    color: #901C1C;
    font-size: 18px;
    display: flex;
}

/* PAGE INDEX - SUR CHAQUE CARD : PRIX AFFICHE PAR PHOTOGRAPHE*/
.priceCardOnIndexPage {
    color: #757575;
    font-size: 12px;
    padding-top: 3px;
}

/*PAGE INDEX - SUR CHAQUE CARD : LIENS */
.photographer_section article a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*PAGE INDEX - SUR CHAQUE CARD : LIENS*/
.photographer_section article a:link {
    text-decoration: none;
}


/* PAGE INDEX : PHOTOS DE CHAQUE PROFIL DE PHOTOGRAPHE*/
.photographer_section article img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
}

/* PAGE PHOTOGRAPHER : PHOTO DU PHOTOGRAPHE*/
.profile_picture {
    height: 240px;
    width: 240px;
    border-radius: 50%;
    object-fit: cover;
}

/* PAGE PHOTOGRAPHER : section contenant le header avec les infos sur le photographe */
.photographer_presentation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

/* PAGE PHOTOGRAPHER : header avec les informations du photographe */
.photograph-header {
    background-color: #FAFAFA;
    padding: 40px 50px;
    margin-top: 40px;
}

/* PAGE PHOTOGRAPHER : dans le header, le nom du photographe */
.nameOfPhotographer {
    color: #D3573C;
    font-size: 4.5em;
    font-weight: 200;
    margin-block-end: 0.2em;
    margin-block-start: 0em;
}

/* PAGE PHOTOGRAPHER : dans le header, nom et ville*/
.cityOfPhotographer,
.countryOfPhotographer {
    color: #901C1C;
    font-size: 1.5em;
}

/* PAGE PHOTOGRAPHER : dans le header, citation du photographe*/
.pTagline {
    color: #525252;
    font-size: 1.1em;
    margin-block-end: 0em;
}


/* PAGE PHOTOGRAPHER : zone avec toutes les réalisations de chaque photographe*/
.realisations {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 50px;
    margin-top: 20px;
    padding-top: 20px;
}

/* PAGE PHOTOGRAPHER : card pour chaque média*/
.article-media {
    width: 30%;
}

/* PAGE PHOTOGRAPHER : stylisation des images et vidéos dans la zone réalisations*/ 
.photographer-image,
.photographer-video {
    height: 48vh;
    width: 100%;
    object-fit: cover;
    object-position: top;
}

/* PAGE PHOTOGRAPHER : sur chaque card, dans la dernière ligne, le container de droite*/
.rightContainer {
    display: flex;
    gap: 10px;
}


/*PAGE PHOTOGRAPHER : stylisation du label de select tri*/
#label-tri{
    font-family: "DM Sans", sans-serif;
    font-weight: 600;
    padding-right: 10px;
}

/*PAGE PHOTOGRAPHER : stylilisation de la section contenant le filtre*/
.filter {
    padding-top: 20px;
    font-size: 1.2em;
}

/*PAGE PHOTOGRAPHER : stylisation de l'option selectionnée*/
.filter select{
    text-indent: 10px;
    padding: 10px 10px;
    font-weight: 600;
    background-color: #901C1C;
    color: white;
    border-bottom: 3px solid white;
    border-radius: 7px;
    position: relative;
    font-size: 1em;
}

/*PAGE PHOTOGRAPHER : stylisation des autres options du select*/
.option-tri{
    font-weight: 600;
    font-size: 1em;
}

/* PAGE PHOTOGRAPHER : container du carousel */
.carousel-container {
    display: none;
    width: 100%;
    height: 100%;
    background-color: transparent;
    position: fixed;
    top: 0px;
    left: 0px;
}

/* PAGE PHOTOGRAPHER : carousel */
.carousel {
    background-color: white;
    display: flex;
    position: relative;
}

/* PAGE PHOTOGRAPHER : crochets dans le carousel*/
#crossInCarousel,
.crochets {
    color: #901C1C;
    font-size: 2em;
    cursor: pointer;
    padding: 0.5em;
}

/* PAGE PHOTOGRAPHER / CAROUSEL partie gauche du header du carousel et partie droite du header du carousel*/
.left-part-header,
.right-part-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* PAGE PHOTOGRAPHER / CAROUSEL croix*/ 
#crossInCarousel {
    position: absolute;
    top: 0px;
}

/* PAGE PHOTOGRAPHER / CAROUSEL partie centrale du header */
.central-part-header {
    display: flex;
    flex-direction: column;
}

/* PAGE PHOTOGRAPHER / CAROUSEL Container du média*/ 
.carousel-media-container {
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
}

/* PAGE PHOTOGRAPHER / CAROUSEL image et vidéo */
.imageInCarousel,
.videoInCarousel {
    width: 80vw;
    height: 90vh;
    padding: 0.5em;
    object-fit: cover;
    object-position: top;
}

/* PAGE PHOTOGRAPHER / CAROUSEL texte à l'intérieur*/ 
.titleInCarousel {
    color: #901C1C;

}

/* PAGE PHOTOGRAPHER - Ligne basse de chaque card média : avec le titre, l'icone coeur et le nombre de likes par image
*/
.bottom-line {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    color: #901C1C;
    padding-top: 0px;
}

/* PAGE PHOTOGRAPHER - zone gauche de la ligne basse de chaque card média avec le titre*/
.leftContainer{
    width: 100%;
}

/* PAGE PHOTOGRAPHER - Titre dans la zone gauche de la ligne basse de chaque card média*/
.leftContainer p {
    font-size: 2em;
    margin-block-start: 0px;
    margin-block-end: 0em;
}

/* PAGE PHOTOGRAPHER - Zone milieu qui contient le coeur dans la ligne basse de chaque card média*/
.middle-container-mediaCard{
    width: 20%;
    padding-top: 3px;
    display: flex;
    justify-content: end;
    align-items: baseline;
}

/* PAGE PHOTOGRAPHER - Coeur dans la ligne basse de chaque card média*/
.heartNextToTitle{
    padding-left: 5px;
    font-size: 1.3em;
}







/* CONTAINER DE LA MODALE DU FORMULAIRE*/
#contact_modal {
    display: none;
    top: 10px;
}

/* MODALE DU FORMULAIRE*/
.modal {
    border-radius: 5px;
    background-color: #DB8876;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 25px;
    width: 50%;
    margin: auto;
}

/* HEADER DU FORMULAIRE */
.modal-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 50px;
}

/* "CONTACTEZ MOI" + NOM DANS MODALE  */
.h1InModalWindow,
.nameInModalWindow {
    font-size: 50px;
    font-weight: 600;
    text-align: left;
    margin: 0px;
    margin-block-end: 0em;
    margin-block-start: 0em;
    color: #312E2E;

}

/* CROIX DANS LA MODALE */
.crossInModalWindow {
    margin-top: 20px;
    cursor: pointer;
}

/* CHAMPS DE FORMULAIRE DANS LA MODALE*/
form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

/* LABEL DANS LE FORMULAIRE DANS LA MODALE */
form label {
    color: #312E2E;
    font-size: 36px;
}

/* DIV A L INTERIEUR DU FORMULAIRE*/
form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

/* INPUT DANS LE FORMULAIRE  */
form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}

/* TEXTAREA DANS LE FORMULAIRE*/
form textarea {
    border-radius: 5px;
    height: 60px;
}

/* ZONE DE MESSAGE DANS LE FORMULAIRE */
.message {
    width: 100%;
    resize: none;
}

/* container de la BOTTOM BAR SUR LA PAGE PHOTOGRAPHER AVEC PRIX ET LIKES TOTAUX*/
#bottomBarContainer {
    width: 20%;
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    background-color: #DB8876;
    padding: 20px 30px;
    position: fixed;
    bottom: 0px;
    right: 20px;
    font-size: 1.5em;
}
/*BOTTOM BAR SUR LA PAGE PHOTOGRAPHER AVEC PRIX ET LIKES TOTAUX*/
#bottom-bar {
    width: 100%;

}

/* MEDIA QUERIES POUR LES ECRANS JUSQUE 1280 PX */
@media screen and (max-width: 1280px) {

    .profile_picture {
        width: 150px;
        height: 150px;
    }

    .photographer_section {
        grid-template-columns: 1fr 1fr;
    }

    .photographer_section article img {
        height: 300px;
        width: 300px;
    }



    .realisations {
        /*max-width: 768px;*/
        gap: 30px;
    }

    .article-media {
        width: 30%;
    }

    .photographer-image,
    .photographer-video {
        height: 250px;
    }

    #bottomBarContainer {
        width: 35%;
    }

    .modal-header h1,
    .modal-header h2 {
        font-size: 40px;
    }

    form textarea {
        height: 30px;
    }

}

/* MEDIA QUERIES POUR LES ECRANS JUSQUE 768 PX*/
@media screen and (max-width: 768px) {
    body {
        margin: 20px;
    }

    .photograph-header {
        padding: 10px 10px;
    }


    .photographer_section {
        grid-template-columns: 1fr;
    }

    .photographer_presentation {
        flex-wrap: wrap;
        gap: 30px;
    }

    .realisations {
        gap: 30px;
    }

    .article-media{
        width: 45%;
    }

    .photographer-image,
    .photographer-video {
        height: 300px;

    }
}